page-refrigerantes {
    #lblTotal {
        text-align: right;
        font-size: 15pt !important;
        color: red !important;
      }

      .transp {
        background-color: transparent !important;
        font-size: 15pt !important;
        font-weight: 400 !important;
        color: #FFF;
      }
      .icone{
        color: #FFF;
        font-size: 20pt !important;
      }
}
