page-cardapio-detalhes {
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #FFF;
      text-shadow: #000 3px 4px 3px;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #FFF;
      text-shadow: #000 2px 3px 2px;
    }
  
  }
  #lblTotal {
    text-align: right;
    font-size: 15pt !important;
    color: red !important;
  }

  .transp {
    background-color: transparent !important;
    font-size: 15pt !important;
    font-weight: 400 !important;
    color: #FFF;
  }
  .icone{
    color: #FFF;
    font-size: 20pt !important;
  }
}
