page-home {
    #body {
        background-image: url(https://firebasestorage.googleapis.com/v0/b/applapizzaria.appspot.com/o/home.jpg?alt=media&token=598db1c3-45c5-4a99-abe4-e544a0d54361);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #navb{
        color: transparent !important;
        background-color: transparent !important;
    }
}
