<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meu Carrinho</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >

  <ion-card *ngFor='let pizza of pizzas' style='padding-bottom: 0;'>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-4><img src="assets/imgs/{{pizza.name}}.jpg" style='margin-top: 7px !important;'/></ion-col>
          <ion-col col-8>
            <h2><b> {{ pizza.name }}</b></h2>
            <p class='fonte10'><b>Tamanho:</b> {{ pizza.tamanho }}</p>
            <p class='fonte10'><b>Adicionais:</b> <span *ngFor='let adi of pizza.adicionais'> {{ adi.nome }}, </span></p>
            <ion-grid style='margin: 0; padding: 0;'>
              <ion-row style='margin: 0; padding: 0;'>
                <ion-col col-9 style='margin: 0; padding: 0;'><p style='font-size: 12pt;' ><b>R$:</b> <span style='color: red'>{{ pizza.valor }}</span></p></ion-col>
                <ion-col col-3 style='margin: 0; padding: 0;'>
                  <button ion-button icon-only clear style='margin-top: -5px; padding-top: 0; color:lightgrey' (click)="excluirItem(pizza.key)">
                    <ion-icon name="trash" ></ion-icon>
                  </button></ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor='let refri of refris' style='padding-bottom: 0;'>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-4><img src="assets/imgs/refris.png"/></ion-col>
            <ion-col col-8>
              <h2><b> Refrigerantes</b></h2>
              <p class='fonte10'><span *ngFor='let ref of refri.refris'> {{ ref.nome }}, </span></p>
              <ion-grid style='margin: 0; padding: 0;'>
                <ion-row style='margin: 0; padding: 0;'>
                  <ion-col col-9 style='margin: 0; padding: 0;'><p style='font-size: 12pt;' ><b>R$:</b> <span style='color: red'>{{ refri.valor }}</span></p></ion-col>
                  <ion-col col-3 style='margin: 0; padding: 0;'><button ion-button icon-only clear style='margin-top: -5px; padding-top: 0; color:lightgrey' (click)="excluirItem(refri.key)">
                      <ion-icon name="trash" ></ion-icon>
                    </button></ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card style='padding-bottom: 0;'>
        <ion-card-content>
            <ion-list>
                <ion-item text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
                  <h3 style="font-size: 11pt;">
                    Cupom de Desconto
                  </h3>
                  <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'ios-arrow-up-outline' : 'md-add'" style="font-size: 35px !important; right: 0 !important;"></ion-icon>
                  <div *ngIf="isGroupShown(i)">
                    <ion-grid>
                      <ion-row>
                        <ion-col col-2>
                            <ion-icon name="card" style="font-size: 30px !important;"></ion-icon>
                        </ion-col>
                        <ion-col col-10>
                            <ion-item>
                                <ion-input type="text" value="" [(ngModel)]='cupomDesconto'></ion-input>
                              </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-grid>                 
                  </div>
                </ion-item>
              </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-card style='padding-bottom: 0;'>
          <ion-card-content>
              <ion-list>
                  <ion-item text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
                    <h3 style="font-size: 11pt;">
                      Calcular Frete
                    </h3>
                    <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'ios-arrow-up-outline' : 'md-add'" style="font-size: 35px !important; right: 0 !important;"></ion-icon>
                    <div *ngIf="isGroupShown(i)">
                      <ion-grid>
                        <ion-row>
                          <ion-col col-2>
                              <ion-icon name="pin" style="font-size: 30px !important;"></ion-icon>
                          </ion-col>
                          <ion-col col-10>
                              <ion-item>
                                  <ion-input type="text" value="" [(ngModel)]='endereco'></ion-input>
                                </ion-item>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </div>
                  </ion-item>
                </ion-list>
          </ion-card-content>
        </ion-card>

        <ion-card style='padding : 10px !important;'>
            <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col col-12 style='font-weight: bold' >Resumo do Pedido</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-10 >SubTotal</ion-col>
                    <ion-col col-2><p> {{subtotal}} </p> </ion-col>
                  </ion-row>
                  <ion-row ng-if="valorDesconto === 0 ? style='display:none' : style='display:none' ">
                      <ion-col col-10>Desconto</ion-col>
                      <ion-col col-2 ><p> {{ valorDesconto}} </p></ion-col>
                  </ion-row>
                 
                  <ion-row>
                    <ion-col col-10 >Entrega</ion-col>
                    <ion-col col-2 ><p> {{valorEntrega}} </p></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-10 >Total</ion-col>
                    <ion-col col-2 ><p style='font-weight: bold; color: firebrick;'> {{ TotalGeral}} </p></ion-col>
                  </ion-row>
                </ion-grid>
            </ion-card-content>
          </ion-card>
          <button ion-button block color="primary" (click)="finalizarPedido()" [disabled]="!contemItens">Finalizar Pedido</button>


</ion-content>
