page-registrar {
    ion-item{
        border-radius: 20px;
    }
  
    .login-button {
        border-radius: 30px;
    }
    p {
        text-align: center;
        padding-top: 5px;
        color: #488aff;
    }
    
  }
  